.row1 {
    text-align: center;
    padding: 2em;

}

.row1 .newTask {

    width: 70%;
}

.row2 {
    text-align: center;
}



li {
    list-style: none;
}

ul {
    padding: 0;
    border: 1px solid;
}
 h3 {
     border: 1px solid;

 }
